[submodule "ext/useful-scripts"]
	path = ext/useful-scripts
	url = git@gitlab.com:malachi-linux/useful-scripts.git
[submodule "ext/libcoap/libcoap"]
	path = ext/libcoap/libcoap
	url = https://github.com/obgm/libcoap.git
