[submodule "ext/useful-scripts"]
	path = ext/useful-scripts
	url = git@gitlab.com:malachi-linux/useful-scripts.git
[submodule "ext/framework.abstraction"]
	path = ext/framework.abstraction
	url = git@github.com:malachib/framework.abstraction.git
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
